In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [ ]:
sales = pd.read_csv(r'C:\Users\Rezwan86\sales.csv')
sales

In [ ]:
sales.head(5)
sales.tail(5)

In [ ]:
sales['OrderDate']

In [1]:
from datetime import datetime
date_string = "21 Jun 2017"
# convert character to a date
print(date_string)

21 Jun 2017

In [ ]:
sales.shape

In [ ]:
sales['Region'].value_counts()

In [ ]:
sales['Region'].unique()

In [ ]:
sales.describe()

In [ ]:
sales[sales['Region']=='Central']

In [ ]:
sales['TotalCost'] = sales['Units'] * sales['UnitCost']
sales.head()

In [ ]:
type(sales)

In [ ]:
sales.ndim

In [ ]:
sales.dtypes

In [ ]:
sales['S.No'] = sales['S.No'].astype(str)

In [ ]:
sales.dtypes

In [ ]:
#Unique method to retrive rows from a DataFrame
# Rows can be extracted using an imaginary index position which isnâ€™t visible in the data frame.
sales.iloc[10:15,2:5].head()

In [ ]:
sales['Units'].sum()

In [ ]:
sales[sales['Region']=='Central']['Units'].sum()

In [ ]:
# mean,median,nunique,max,min

In [ ]:
sales[['Region','Units']]

In [ ]:
sales.loc[:,'Region']

In [ ]:
sales.drop('TotalCost',axis=1)

In [ ]:
sales.columns

In [ ]:
#renaming columns
sales = sales.rename(columns={'Region':'Region wise','Item':'Item list'})
sales.head(2)

In [ ]:
#using replace=TRUE
#sales.rename(columns={'Region':'Territory','Item':'Product'},inplace=TRUE)

In [ ]:
sales.rename(columns=lambda x: x.replace(' ','_'),inplace=True)
sales

In [ ]:
sales.to_csv(r'C:\Users\Administrator.acer-PC\Desktop\Python\sales_python_version.csv',index=False)

In [ ]:
#group_by(), agg()

In [ ]:
sales
sales.groupby(['Region_wise'])['Units'].sum()

In [ ]:
#sales.groupby(['Region_wise','Item_list'])['Units'].sum()
sales.groupby(['Item_list','Region_wise'])['Units'].sum()

In [ ]:
sales.groupby(['Region_wise','Item_list'])['Units','UnitCost'].sum()

In [ ]:
sales.groupby(['Region_wise','Item_list']).agg({'Units':'sum','UnitCost':'mean'})

In [ ]:
sales.groupby(['Region_wise','Item_list']).agg({'Units':{'sum_units':'sum',
                                                        'avg_units':'mean'}})

In [ ]:
import os
os.getcwd()

In [ ]:
#not practice
sales['Date'] = pd.to_datetime(sales['OrderDate'],format='%m/%d/%Y')
#sales['Date'].head()
sales['weekday'] = sales['Date'].dt.strftime('%a')
sales['weekday'].head()

In [3]:
help(pd.crosstab)

Help on function crosstab in module pandas.core.reshape.pivot:

crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False)
    Compute a simple cross-tabulation of two (or more) factors. By default
    computes a frequency table of the factors unless an array of values and an
    aggregation function are passed

    Parameters
    ----------
    index : array-like, Series, or list of arrays/Series
        Values to group by in the rows
    columns : array-like, Series, or list of arrays/Series
        Values to group by in the columns
    values : array-like, optional
        Array of values to aggregate according to the factors.
        Requires `aggfunc` be specified.
    rownames : sequence, default None
        If passed, must match number of row arrays passed
    colnames : sequence, default None
        If passed, must match number of column arrays passed
    aggfunc : function, optional
        If specified, requires `values` be specified as well
    margins : boolean, default False
        Add row/column margins (subtotals)
    margins_name : string, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.

        .. versionadded:: 0.21.0

    dropna : boolean, default True
        Do not include columns whose entries are all NaN
    normalize : boolean, {'all', 'index', 'columns'}, or {0,1}, default False
        Normalize by dividing all values by the sum of values.

        - If passed 'all' or `True`, will normalize over all values.
        - If passed 'index' will normalize over each row.
        - If passed 'columns' will normalize over each column.
        - If margins is `True`, will also normalize margin values.

        .. versionadded:: 0.18.1

    Returns
    -------
    crosstab : DataFrame

    Notes
    -----
    Any Series passed will have their name attributes used unless row or column
    names for the cross-tabulation are specified.

    Any input passed containing Categorical data will have **all** of its
    categories included in the cross-tabulation, even if the actual data does
    not contain any instances of a particular category.

    In the event that there aren't overlapping indexes an empty DataFrame will
    be returned.

    Examples
    --------
    >>> a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
    ...               "bar", "bar", "foo", "foo", "foo"], dtype=object)
    >>> b = np.array(["one", "one", "one", "two", "one", "one",
    ...               "one", "two", "two", "two", "one"], dtype=object)
    >>> c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
    ...               "shiny", "dull", "shiny", "shiny", "shiny"],
    ...               dtype=object)

    >>> pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])
    ... # doctest: +NORMALIZE_WHITESPACE
    b   one        two
    c   dull shiny dull shiny
    a
    bar    1     2    1     0
    foo    2     2    1     2

    >>> foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
    >>> bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
    >>> crosstab(foo, bar)  # 'c' and 'f' are not represented in the data,
                            # and will not be shown in the output because
                            # dropna is True by default. Set 'dropna=False'
                            # to preserve categories with no data
    ... # doctest: +SKIP
    col_0  d  e
    row_0
    a      1  0
    b      0  1

    >>> crosstab(foo, bar, dropna=False)  # 'c' and 'f' are not represented
                            # in the data, but they still will be counted
                            # and shown in the output
    ... # doctest: +SKIP
    col_0  d  e  f
    row_0
    a      1  0  0
    b      0  1  0
    c      0  0  0

In [ ]:
pd.crosstab(sales['Rep'],sales['Units'])

In [ ]:
#joins

In [ ]:
#first dataframe
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}
df_a = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_a

In [ ]:
#second dataframe
raw_data = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}
df_b = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_b

In [ ]:
#third dataframe
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}
df_n = pd.DataFrame(raw_data, columns = ['subject_id','test_id'])
df_n

In [ ]:
#https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/
#concatenation
df_new = pd.concat([df_a, df_b])
df_new

In [ ]:
pd.concat([df_a, df_b], axis=1)

In [ ]:
#inner join
pd.merge(df_new, df_n, on='subject_id')

In [ ]:
pd.merge(df_new, df_n, left_on='subject_id', right_on='subject_id')

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='outer')

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='inner')

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='right')

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='left')

In [ ]:
pd.merge(df_a, df_b, on='subject_id', how='left', suffixes=('_df_a', '_df_b'))

In [ ]:
pd.merge(df_a, df_b, right_index=True, left_index=True)

In [ ]:
pd.merge(df_a,df_n,on='subject_id',how='inner')

In [ ]:
#np.where
sales['Sales_Volume'] = np.where(sales['Units']>50,'High_Volume','Low_Volume')
sales['Sales_Volume']

In [ ]:
pd.cut(np.array([1,2,4,3,1,4,5,6,7,3,2]),3)

In [ ]:
sales['sales_Volume_cut'] = pd.cut(sales['Units'],3,labels=['Low','Medium','High'])
sales['sales_Volume_cut']